<form action="/edit/<%= @fruits.id %>" method="post">
  <input type="hidden" name="_method" value="put"/>
  <input type="text" name="edit_name"/>
  <input type="submit" value="Update Item"/>
</form>

